{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="../static/css/swiper_pictures_css/swiper.min.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/swiper_pictures_css/dy_Swiper.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/sign_in_up_page_css/util.css">
    <link rel="stylesheet" type="text/css" href="../static/css/sign_in_up_page_css/login.css">
{% endblock %}
{% block aside %}
    <div style="display:block;margin:auto auto 0;padding:.5rem">
        <h3>Record Pictures</h3>
    </div>
    <ul id="menu" class="menu-list">
        <li data-menuanchor="登入"><a href={{ url_for("login") }}>登入👈</a></li>
        <li data-menuanchor="注册"><a href={{ url_for("register") }}>注册👈🏻</a></li>
    </ul>
{% endblock %}


{% block content %}

    <div id="content">

        <!--===========================C.登入页面=============================================-->
        <div class="section hero is-fullheight page">
            <div class="is-flex is-flex-direction-column" style="height: 100%;">
                <!--大写标题-->
                <div class="flex: 1;">
                    <h1><span class="text-primary">Sign In</span></h1>
                </div>
                <!--登入内容-->
                <div class="is-flex is-flex-direction-column is-justify-content-top"
                     style="flex: 1; overflow: auto;">
                    <div class="wrap-login100">
                        <form class="login100-form validate-form" method="post">
                            <span class="login100-form-title p-b-34">
                                    ✋🏻登入你的账号✋🏻
                                </span>
                            <div class="wrap-input100 m-b-20" data-validate="Type user name">
                                <input class="input100" type="email" name="username" placeholder="邮箱号:">
                                <span class="focus-input100"></span>
                            </div>
                            <div class="wrap-input100 m-b-20" data-validate="Type password">
                                <input class="input100" type="password" name="password" placeholder="密码:">
                                <span class="focus-input100"></span>
                            </div>
                            <div class="container-login100-form-btn">

                                <button class="login100-form-btn">
                                    点击登陆
                                </button>
                            </div>
                            <div class="w-full text-center p-t-27 p-b-239">
                                <a href={{ url_for("register") }} class="login_text2" style="color: white">
                                    没有账号？注册一个！
                                </a>
                            </div>

                        </form>
                        <div class="login100-more"
                             style="background-image: url('../static/image/show_page_image/login.JPG');"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        {% for message in get_flashed_messages() %}
            {% if message=="1" %}
                window.alert("密码错误");
            {% elif message=='3' %}
                window.alert("该账号已注册,请登陆")
            {% endif %}
        {% endfor %}
    </script>

{% endblock %}



