{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="../static/css/sign_in_up_page_css/util.css">
    <link rel="stylesheet" type="text/css" href="../static/css/sign_in_up_page_css/login.css">
    <link rel="stylesheet" type="text/css" href="../static/css/about_us.css">
{% endblock %}

{% block aside %}
    <div style="display:block;margin:auto auto 0;padding:.5rem">
        <h3>Record Pictures</h3>
    </div>
    <ul id="menu" class="menu-list">
        <li data-menuanchor="登入"><a href={{ url_for("login") }}>登入👈</a></li>
        <li data-menuanchor="注册"><a href={{ url_for("register") }}>注册👈🏻</a></li>
    </ul>
{% endblock %}

