{% extends 'base.html' %}

{% block head %}
    <link href="../static/css/profile/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/profile/style.css" rel="stylesheet">
{% endblock %}


{% block aside %}
    <div style="display:block;margin:auto auto 0;padding:.5rem">
        <!--设置用户名-->
        <h3>{{ user_info.profile_name }}</h3>
        <!--设置用户头像-->
        <figure class="image">
            <img id="avatar" class="is-rounded" src="{{ user_info.picture_link }}" style="width:10%;height:auto"/>
        </figure>
    </div>
    <ul id="menu" class="menu-list">
        <li data-menuanchor="搜索照片🔍"><a href="{{ url_for("search_pictures") }}">搜索场景🔍</a></li>
        <li data-menuanchor="所有照片"><a href="{{ url_for("user_scenes") }}">场景列表</a></li>
        <li data-menuanchor="上传场景"><a href="{{ url_for("upload_scene") }}">上传场景↑</a></li>
        <li data-menuanchor="个人信息"><a href="{{ url_for("user_index") }}">个人信息👨🏻</a></li>
        <li data-menuanchor="登出账号"><a href="{{ url_for("logout") }}">登出账号</a></li>
    </ul>
{% endblock %}


{% block content %}
    <div id="content">
        <div id="fullpage">
            <form method="POST" enctype="multipart/form-data">
                <!--===========================个人中心=============================================-->
                <div class="section hero is-fullheight page" id="anchor_1">
                    <div class="is-flex is-flex-direction-column" style="height: 100%;">
                        <!--大写标题-->
                        <div class="flex: 1;">
                            <h1><span class="text-primary">上传照片</span></h1>
                        </div>
                        <!--内容-->
                        <div class="is-flex is-flex-direction-column is-justify-content-center"
                             style="flex: 1; overflow: auto;">

                            <div class="row">
                                <!-- Column -->
                                <div class="col-lg-4 col-xlg-3 col-md-5">
                                    <div class="card" style="margin-top: 40%">
                                        <div class="card-block">
                                            {{ form.hidden_tag() }}
                                            {{ form.photo }}
                                            {% for error in form.photo.errors %}
                                                <span style="color: red;">{{ error }}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <!-- Column -->
                                <div class="col-lg-8 col-xlg-5 col-md-10">
                                    <div class="card">
                                        <div class="card-block">
                                            <form class="form-horizontal form-material" name="information" method="post"
                                                  action="{{ url_for("upload") }}">
                                                <div class="form-group">
                                                    <label class="col-md-12">title</label>
                                                    <div class="col-md-12">
                                                        <input type="text"
                                                               class="form-control form-control-line" name="name">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="example-email" class="col-md-12">scene</label>
                                                    <div class="col-md-12">
                                                        <input type="text"
                                                               class="form-control form-control-line" name="scene"
                                                               id="email">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="example-email" class="col-md-12">comment</label>
                                                    <div class="col-md-12">
                                                        <input type="text"
                                                               class="form-control form-control-line" name="comment"
                                                               id="email">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-12">
                                                        <button class="btn btn-success">上传照片</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        </form>
    </div>
    <script>
        {% for message in get_flashed_messages() %}
            {% if message=="上传成功" %}
                window.alert("上传成功");
            {% elif message=="图片未上传成功" %}
                window.alert("图片未上传成功")
            {% endif %}
        {% endfor %}
    </script>
{% endblock %}