{% extends 'base.html' %}

{% block head %}
    <link href="../static/css/search_css/main.css" rel="stylesheet"/>
{% endblock %}


{% block aside %}
    <div style="display:block;margin:auto auto 0;padding:.5rem">
        <!--设置用户名-->
        <h3>{{ user_info.profile_name }}</h3>
        <!--设置用户头像-->
        <figure class="image">
            <img id="avatar" class="is-rounded" src="{{ user_info.picture_link }}" style="width:10%;height:auto"/>
        </figure>
    </div>
    <ul id="menu" class="menu-list">
        <li data-menuanchor="搜索照片🔍"><a href="{{ url_for("search_pictures") }}">搜索场景🔍</a></li>
        <li data-menuanchor="所有照片"><a href="{{ url_for("show_all_pictures") }}">所有场景🎆</a></li>
        <li data-menuanchor="所有照片"><a href="{{ url_for("user_scenes") }}">场景列表</a></li>
        <li data-menuanchor="上传场景"><a href="{{ url_for("upload_scene") }}">上传场景↑</a></li>
        <li data-menuanchor="个人信息"><a href="{{ url_for("user_index") }}">个人信息👨🏻</a></li>
        <li data-menuanchor="登出账号"><a href="{{ url_for("logout") }}">退出登陆</a></li>
    </ul>
{% endblock %}


{% block content %}
    <div id="content">
        <div id="fullpage">
            <div class="is-flex is-flex-direction-column" style="height: 100%;">
                <!--搜索-->
                <div class="s004" style=" background: url('../static/image/search.JPG') ;background-size: cover">
                    <form method="post" action="{{ url_for("search_pictures") }}">
                        <fieldset>
                            <legend>搜索你的场景</legend>
                            <div class="inner-form">
                                <div class="input-field">
                                    <input class="form-control" id="choices-text-preset-values" type="text"
                                           placeholder="..." name="search_info"/>
                                    <button class="btn-search">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34"
                                             viewBox="0 0 24 24">
                                            <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <fieldset>
        <legend>搜索范围</legend>
    
        <div>    
            <input type="checkbox" id="user" name="search_range" checked>
            <label for="scales">本用户</label>
        </div>
    
        <div>
            <input type="checkbox" id="global" name="search_range">
           <label for="horns">全局</label>
        </div>
    </fieldset>
{% endblock %}

{% block javascript %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function() {
    $("input[name='search_range']").click(function() {
        $("input[name='search_range']").not(this).prop("checked", false);
    });
    });
    </script>
    <script src="../static/js/search_js/choices.js"></script>
    <script>
        var textPresetVal = new Choices('#choices-text-preset-values',
            {
                removeItemButton: true,
            });
    </script>
{% endblock %}